@import 'waline.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

@layer components {
  .button-base {
    @apply rounded-lg px-4 py-2 text-sm font-medium transition-all duration-100 focus:outline-none;
  }
  .button-shadow {
    @apply shadow-button-primary hover:bg-orangeHover active:bg-orange;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-column {
    @apply flex flex-col space-y-2;
  }
}

/* 使表头固定在页面顶部 */
.sticky {
  position: sticky;
}

/* 设置表头的背景颜色，以便在滚动时可见 */
thead.sticky {
  z-index: 10; /* 确保表头在其他内容之上 */
  top: 0; /* 表头固定在页面顶部 */
  background-color: white; /* 根据你的设计调整背景色 */
}


/* 确保第一列固定在左侧 */
tbody th.sticky {
  z-index: 10; /* 确保第一列在其他内容之上 */
  left: 0; /* 第一列固定在页面左侧 */
}

.break-words {
  word-break: break-word;
}


@layer components {
  /* .btn-primary {
      @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
  } */
}